body {
  margin: 0px;
  background-color: black;
  font-family: roboto_condensedregular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  overflow-x: hidden;
}
body.light { background-color: #F8F8F8; color: black; }

* { box-sizing: border-box; }

a, a:visited{ color: #80C0FF; }

.pointer { cursor: pointer; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.row { width: 100%; }
.cell { position: relative; float: left; }

.textrow { margin: 4px 0px; }
.topmargin { margin-top: 12px; }
.hint { margin: 8px 0px; }
.owhint { margin: 8px 0px; }

#app { width: 100%; height: 100%; overflow: hidden; display: flex; }

.welcomemode .welcomehidden { display: none!important; }
.welcomeshown { display: none; }
.welcomemode .welcomeshown { display: block; }

#sidebar { display: none; width: 0px; }
.showsidebar #sidebar { width: 67px; height: 100%; float: left; position: fixed; top: 0; left: 0; display: flex; flex-direction: column; }
#main { min-width: 256px; min-height: 100vh; float: left; flex-grow: 1; }
.showsidebar #main { border-left: 1px solid white; padding-left: 4px; margin-left: 67px; }
.light .showsidebar #main { border-color: black; }
.showsidebar .nosidebar { display: none; width: 0px; }
.activetab { border-color: skyblue!important; }
.light .activetab { border-color: rgb(0,0,255)!important; }
.light .buttonsquare.activetab { border-color: rgb(255,255,0)!important; }

.sidebutton { width: 66px; height: 22px; margin-left: 1px; border-width: 1px 0 1px 1px; border-style: solid; border-color: white; line-height: 20px; text-align: center; padding: 0px 2px 20px 2px; user-select: none; }
.light .sidebutton { border-color: black; }
.sidetab { width: 33px; height: 34px; float: left; border-width: 1px 0 1px 1px; border-style: solid; border-color: white; }
.light .sidetab { border-color: black; }
.sideboss { margin-left: 1px; background-size: 32px 32px; }
.sideboss.completed { opacity: .25; }
.sidesummary { position: relative; }

.modalbg { width: 100%; height: 100%; background-color: rgba(0,0,0,.3); z-index: 3; position: fixed; top: 0px; left: 0px; display: none; }
.modal { background-color: black; z-index: 4; position: absolute; border-style: solid; border-color: white; color: white; overflow: hidden; }
.light .modal { background-color: #F8F8F8; border-color: black; color: black; }

#overworldoptionsfinalbox { border: 1px solid yellow; display: none; }
.light #overworldoptionsfinalbox { border-color: #C0C000; }
#overworldsyncerrortext { padding: 2px 4px; color: rgb(255,192,192); }
.light #overworldsyncerrortext { color: rgb(128,0,0); }

.fixedtop { position: fixed; top: 0; background-color: black; z-index: 2; overflow: hidden; }
.light .fixedtop { background-color: #F8F8F8; }
.showsidebar .fixedtop { padding-right: 72px; }
.scenetitle { margin: 14px 12px 10px 10px; }

.dungeon { border: 1px solid white; margin: 1px; }
.light .dungeon { border-color: black; }
.boss { width: 64px; height: 64px; background-size: 64px 64px; }
.boss.completed { opacity: .25; }
.summary { position: relative; height: 32px; }

#selectworldstate:disabled { color: lightgray; }

.columns2 #owmaincolumn0 { display: inline-block; vertical-align: top; width: 460px; }
.columns2 #owmaincolumn1 { display: inline-block; vertical-align: top; max-width: max(400px,calc(100% - 480px)); padding-left: 12px; margin-left: 12px; border-left: 4px solid; }

.maintable { border-collapse: collapse; border: 1px solid gray; margin-right: 2px; margin-bottom: 4px; }
.maintable tr,td { border: 1px solid gray; }
#checklisttable td:first-child { text-align: center; font-size: 20px; }
#checklisttable .buttonbox { margin: 2px; }

.item { width: 32px; height: 32px; opacity: .25; background-size: 32px 32px; }
.collected { opacity: 1; }
#itemgloves { background-image: url(../images/items/glove1.png); }
#itemgloves.mitts { background-image: url(../images/items/glove2.png); opacity: 1; }
#itemagahnim { background-image: url(../images/dungeons/agahnim0.png); }
#itemagahnim.collected { background-image: url(../images/dungeons/agahnim1.png); }

.connector { cursor: default; }
.connector:hover { background-color: rgba(255,255,255,.125); }
.light .connector:hover { background-color: rgba(0,0,0,.125); }

.fullowpanel { width: 512px; height: 512px; position: relative; transform-origin: 0 0; cursor: default; }
.fullowpanel.pointer { cursor: pointer; }
.smallowscreenpanel { width: 64px; height: 64px; position: relative; }
.bigowscreenpanel { width: 128px; height: 128px; position: relative; }
.owscreen { overflow: hidden; width: 64px; height: 64px; position: absolute; }
.bigowscreen { overflow: hidden; width: 128px; height: 128px; position: absolute; }
.owscreen.full { cursor: inherit; box-shadow: inset 0px 0px 0px 1px black; }
.owscreen.active { box-shadow: inset 0px 0px 4px 4px white; }
.owscreen.active .specialshadow { box-shadow: inset 0px 0px 4px 4px white; }
.owscreen.single { cursor: default; }
.owscreen.bigscreen { width: 128px; height: 128px; }
.owscreen.gray .roomnodeimg { filter: grayscale(100%); }
.owscreen.unknown .roomnodeimg { filter: grayscale(50%) blur(3px); }
.noblur .owscreen.unknown .roomnodeimg { filter: grayscale(75%); }
.owscreen.gray.unknown .roomnodeimg { filter: grayscale(100%) blur(3px); }
.noblur .owscreen.gray.unknown .roomnodeimg { filter: grayscale(100%); }
.owscreen .roomtt { width: 64px; height: 64px; z-index: 1; cursor: inherit; position: absolute; top: 0; left: 0; font-size: 10pt; background-color: black; display: inline-block; color: #fff; text-align: center; pointer-events: none; visibility: hidden; opacity: 0; transition: opacity .25s; }
.owscreen.bigscreen .roomtt { width: 128px; height: 128px; }
.owscreen:hover .roomtt { visibility: visible; opacity: .5; }
.owscreen.highlighted .roomtt { visibility: visible; opacity: .5; }
.specialshadow { box-shadow: inset 0px 0px 0px 2px black; width: 64px; height: 64px; }
.owedge { cursor: default; overflow: hidden; width: 16px; height: 16px; position: absolute; box-shadow: inset 0px 0px 0px 1px black; pointer-events: none; user-select: none; color: black; text-align: center; font-size: 12px; line-height: 16px; }
.owedge.active:not(hover) { box-shadow: inset 0px 0px 3px 3px white; }
.fullowpanel.clickedges .owedge { pointer-events: all; }
.owedge:hover { box-shadow: inset 0px 0px 0px 1px white; }
.owedgedot { width: 8px; height: 8px; position: absolute; box-shadow: inset 0px 0px 0px 1px black; background-color: rgb(0,192,255); pointer-events: none; z-index: 1; }
.owedgedot.to { background-color: #808080; }
.owedgecrossed { background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100' stroke='black' stroke-width='8'/><path d='M0 0 L100 100' stroke='black' stroke-width='8'/></svg>");
  background-repeat: no-repeat; background-position: center center; background-size: 100% 100%,auto; }
.south { border-radius: 37.5% 37.5% 0 0; }
.west { border-radius: 0 37.5% 37.5% 0; }
.north { border-radius: 0 0 37.5% 37.5%; }
.east { border-radius: 37.5% 0 0 37.5%; }
.whirlpool { border-radius: 37.5%; }
.owedgegray { cursor: default; overflow: hidden; width: 8px; height: 8px; position: absolute; border-radius: 37.5%; pointer-events: none; user-select: none; color: black!important; background-color: rgb(128,128,128); text-align: center; font-size: 8px; line-height: 8px; opacity: .75; }
.flutesymbol { overflow: hidden; width: 32px; height: 32px; background-size: 32px 32px; position: absolute; background-image: url(../images/items/flute.png); pointer-events: none; }
.savequitsymbol { overflow: hidden; width: 32px; height: 32px; background-size: 32px 32px; position: absolute; background-image: url(../images/interface/savequit.png); pointer-events: none; }
.activateflute { width: 96px; height: 26px; z-index: 2; cursor: default; position: absolute; box-shadow: inset 0px 0px 0px 1px black; color: black; background-color: lightskyblue; font-size: 14px; display: inline-block; text-align: center; line-height: 25px; border-radius: 6px; user-select: none; }
.activateflute:hover { box-shadow: inset 0px 0px 0px 1px white; }
.fullmixed { cursor: default; width: 56px; height: 26px; position: absolute; box-shadow: inset 0px 0px 0px 1px black; color: black; font-size: 14px; line-height: 25px; pointer-events: all; }
.fullmixed.normal { left: 4px; top: 4px; background-color: lightgoldenrodyellow; }
.fullmixed.swapped { left: 4px; top: 34px; background-color: lightsteelblue; }
.owscreen .questionmark { width: 64px; height: 64px; z-index: 1; cursor: inherit; position: absolute; left: 0; top: 0; font-size: 32px; display: inline-block; color: red; text-align: center; pointer-events: none; line-height: 56px; user-select: none; }
.owscreen:hover .questionmark { visibility: hidden; opacity: 0; }
.questionmark.greentext { color: lime; }
.questionmark.yellowtext { color: yellow; }
.lightworldsymbol { overflow: hidden; width: 64px; height: 80px; background-size: 64px 80px; position: absolute; background-image: url(../images/interface/lw.png); pointer-events: none; z-index: 3; }
.darkworldsymbol { overflow: hidden; width: 64px; height: 80px; background-size: 64px 80px; position: absolute; background-image: url(../images/interface/dw.png); pointer-events: none; z-index: 3; }
.pathnumber { background-color: black; opacity: .75; overflow: hidden; width: 16px; height: 16px; position: absolute; pointer-events: none; font-size: 12px; line-height: 15px; text-align: center; border-radius: 50%; box-shadow: 0 0 2px 2px black; cursor: default; user-select: none; }
.pathnumber.single { opacity: 1; pointer-events: all; }
.bigowedge { cursor: default; width: 24px; height: 24px; position: absolute; box-shadow: inset 0px 0px 0px 2px black; }
.bigowedge:hover { box-shadow: inset 0px 0px 0px 2px white; }
.red { background-color: red; }
.green { background-color: lime; }
.turqoise { background-color: rgb(0,192,255); }
.blue { background-color: blue; }

.crossedleft { background: linear-gradient(to top left, rgba(0,0,0,0) calc(50% - 1.5px), rgb(0,192,255) calc(50% - 0.5px) calc(50% + 0.5px), rgba(0,0,0,0) calc(50% + 1.5px));
   min-height: 2px;
   min-width: 2px; position: absolute; pointer-events: none;
}

.crossedright { background: linear-gradient(to top right, rgba(0,0,0,0) calc(50% - 1.5px), rgb(0,192,255) calc(50% - 0.5px) calc(50% + 0.5px), rgba(0,0,0,0) calc(50% + 1.5px));
   min-height: 2px;
   min-width: 2px; position: absolute; pointer-events: none;
}

.crossedgrayleft { background: linear-gradient(to top left, rgba(0,0,0,0) calc(50% - 1.5px), rgb(192,192,192) calc(50% - 0.5px) calc(50% + 0.5px), rgba(0,0,0,0) calc(50% + 1.5px));
   min-height: 2px;
   min-width: 2px; position: absolute; pointer-events: none;
}

.crossedgrayright { background: linear-gradient(to top right, rgba(0,0,0,0) calc(50% - 1.5px), rgb(192,192,192) calc(50% - 0.5px) calc(50% + 0.5px), rgba(0,0,0,0) calc(50% + 1.5px));
   min-height: 2px;
   min-width: 2px; position: absolute; pointer-events: none;
}

.roomnode { float: left; margin: 2px; cursor: default; overflow: hidden; width: 64px; height: 64px; position: relative; }
.roomnode.slim { width: 32px; }
.roomnodeimg { transform-origin: 0 0; z-index: -1; position: absolute; }
.bigroomnodeimg { transform-origin: 0 0; z-index: -1; position: absolute; }
.roomnode .roomtt { width: 64px; height: 64px; z-index: 1; cursor: inherit; position: absolute; top: 0; left: 0; font-size: 10pt; background-color: black; display: inline-block; color: #fff; text-align: center; visibility: hidden; opacity: 0; transition: opacity .25s; }
.roomnode.slim .roomtt { width: 32px; }
.roomnode:hover .roomtt { visibility: visible; opacity: .75; }
.ttlabel { cursor: inherit; }

.path { position: relative; height: 64px; }
.path .roomnode { margin: 0px; position: absolute; }
.path.editing { background-color: rgba(255,192,128,.2); border: 2px dotted rgb(255,192,128); height: 68px; }
.roompointer .roomnode { cursor: pointer; }
.pathlist { transform-origin: 0 0; }
.pathlist .path.row { width: 200%; }
.pathlist .path:hover { background-color: rgba(255,255,255,.125); }
.light .pathlist .path:hover { background-color: rgba(0,0,0,.125); }
.leftfadeout { width: 16px; height: 64px; z-index: 2; background-image: linear-gradient(to right, black, transparent); position: absolute; pointer-events: none; }
.light .leftfadeout { background-image: linear-gradient(to right, white, transparent); }

.symbolnode { margin: 0px; width: 32px; height: 32px; background-size: 32px 32px; position: absolute; }
.symbolnode.small { width: 16px; height: 16px; background-size: 16px 16px; }
.pathsymbol { float: left; margin: 0px; width: 32px; height: 32px; background-size: 32px 32px; position: relative; }
.hint .pathsymbol { margin-right: 4px; }
.hint span { height: 32px; line-height: 16px; display: grid; align-items: center; top: -1px; position: relative; }
.owhint span { line-height: 16px; display: grid; align-items: center; top: -1px; position: relative; }

.invdir .direction { filter: invert(100%); }

.buttonbox { border: 1px solid white; height: 24px; line-height: 25px; text-align: center; padding: 0 4px 24px 4px; margin: 4px; user-select: none; }
.light .buttonbox { border-color: black; }
.buttonbox.dense { margin: 2px; }
.buttonbox.big { height: 36px; line-height: 33px; font-size: 14pt; padding: 0 8px 24px 8px; }
.buttonbox.small { height: 20px; line-height: 19px; padding: 0px 2px 18px 2px; }
.buttonbox.disabled { cursor: default; border-color: darkgray!important; color: darkgray; }
.buttonbox.selected { color: black; background-color: white; }
.light .buttonbox.selected { color: white; background-color: black; }

.buttonsquare { border: 1px solid white; width: 26px; height: 26px; user-select: none; }
.light .buttonsquare { filter: invert(100%); }
.buttonsquare.dense { margin: 2px; }
.buttonsquare.disabled { cursor: default; filter: brightness(60%); }
.light .buttonsquare.disabled { filter: brightness(60%) invert(100%); }
.buttonsquare.home { background-image: url(../images/interface/home.png); cursor: pointer; }
.buttonsquare.collapse { background-image: url(../images/interface/collapse.png); }
.buttonsquare.expand { background-image: url(../images/interface/collapse.png); transform: scaleX(-1); }
.buttonsquare.collapsesection { background-image: url(../images/interface/collapsesection.png); }
.buttonsquare.expandsection { background-image: url(../images/interface/collapsesection.png); transform: rotate(-90deg); }
.buttonsquare.close { background-image: url(../images/interface/close.png); }
.buttonsquare.settings { background-image: url(../images/interface/settings.png); }
.buttonsquare.uparrow { background-image: url(../images/interface/uparrow.png); }
.buttonsquare.plus { background-image: url(../images/interface/plus.png); margin: 4px; }
.buttonsquare.minus { background-image: url(../images/interface/minus.png); margin: 4px; }
.buttonsquare.owicon { background-image: url(../images/overlay/overworldicon.png); background-size: 24px 24px; }
.light .buttonsquare.owicon { border-color: black; filter: none; }

.redborder { border-color: rgb(255,128,128); }
.light .redborder { border-color: rgb(255,0,0); }
.light .buttonsquare.redborder { border-color: rgb(0,255,255); }
.greenborder { border-color: rgb(128,255,128); }
.light .greenborder { border-color: rgb(0,192,0); }
.yellowborder { border-color: rgb(255,255,128); }
.light .yellowborder { border-color: rgb(192,192,0); }
.orangeborder { border-color: rgb(255,192,128); }
.light .orangeborder { border-color: rgb(255,128,0); }
.blueborder { border-color: rgb(128,128,255); }
.light .blueborder { border-color: rgb(0,0,255); }

.rightalign { float: right; }
.centercheckbox { width: 100%; display: inline-block; text-align: center; }
.mapmodetext { padding-left: 24px; padding-bottom: 8px; font-size: 12px; line-height: 14px; }

.newpath { animation: newpath 2s forwards 1; }
.light .newpath { animation: newpathlight 2s forwards 1; }
@keyframes newpath { from { background-color: rgba(192,255,192,.25); } to { background-color: none; } }
@keyframes newpathlight { from { background-color: rgba(0,64,0,.25); } to { background-color: none; } }

.buttonaction { animation: buttonaction 1s forwards 1; }
.light .buttonaction { animation: buttonactionlight 1s forwards 1; }
@keyframes buttonaction { from { background-color: rgba(192,255,192,.5); } to { background-color: none; } }
@keyframes buttonactionlight { from { background-color: rgba(0,64,0,.5); } to { background-color: none; } }

.overworldicon { background-image: url(../images/overlay/overworldicon.png); }
.boss0 { background-image: url(../images/dungeons/boss0.png); }
.boss1 { background-image: url(../images/dungeons/boss1.png); }
.boss2 { background-image: url(../images/dungeons/boss2.png); }
.boss3 { background-image: url(../images/dungeons/boss3.png); }
.boss4 { background-image: url(../images/dungeons/boss4.png); }
.boss5 { background-image: url(../images/dungeons/boss5.png); }
.boss6 { background-image: url(../images/dungeons/boss6.png); }
.boss7 { background-image: url(../images/dungeons/boss7.png); }
.boss8 { background-image: url(../images/dungeons/boss8.png); }
.boss9 { background-image: url(../images/dungeons/boss9.png); }
.boss10 { background-image: url(../images/dungeons/boss10.png); }
.boss11 { background-image: url(../images/dungeons/ballnchain.png); }
.boss12 { background-image: url(../images/dungeons/agahnim0.png); }