
#app { width: 448px; height: 988px; }
#app.sphereless { height: 692px; }

#map_light {
  width: 221px;
  height: 221px;
  margin-left: 2px;
  background-image: url(../images/overlay/map_light.png);
  background-size: 100% 100%;
}

#map_dark {
  width: 221px;
  height: 221px;
  background-image: url(../images/overlay/map_dark.png);
  background-size: 100% 100%;
}

#caption {
    bottom: 2px;
}

#autotrackingstatus {
  bottom: 2px;
}

.location {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
}

.entrance {
  width: 8px;
  height: 8px;
  margin-left: -7px;
  margin-top: -7px;
}

#map .boss {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  background-size: 100% 100%;
}

#bossMap0, #dungeon0 { left: 92%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 7.6%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 62%; top: 7.2%; }
#bossMap3, #dungeon3 { left: 92.8%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 47%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 8%; top: 7.2%; }
#bossMap6, #dungeon6 { left: 12.8%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 79.6%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 11.6%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 92.8%; top: 7.2%; }
#bossMap10, #dungeon10 { left: 58%; top: 7.2%; }

#bossMapAgahnim, #castle { left: 50%; top: 52.6%; }

#locationMap0 { left: 44.8%; top: 93.4%; z-index: 2; }
#locationMap1 { left: 54.8%; top: 67.9%; z-index: 2; }
#locationMap2 { left: 10%;  top: 46.8%; z-index: 2; }
#locationMap3 { left: 32%; top: 69.5%; z-index: 2; }
#locationMap4 { left: 30.4%; top: 52.2%; z-index: 2; }
#locationMap5 { left: 70.4%; top: 70.3%; z-index: 2; }
#locationMap6 { left: 42%; top: 3.0%; z-index: 2; }
#locationMap7 { left: 22%; top: 92.2%; z-index: 2; }
#locationMap8 { left: 92%; top: 17.2%; z-index: 2; }
#locationMap9 { left: 96%; top: 12.1%; z-index: 2; }
#locationMap10 { left: 43.6%; top: 22.4%; z-index: 2; }
#locationMap11 { left: 12.4%;  top: 8.6%; z-index: 2; }
#locationMap12 { left: 50.8%; top: 8.5%; z-index: 2; }
#locationMap13 { left: 81.6%; top: 3.0%; z-index: 2; }
#locationMap14 { left: 3.6%;  top: 69.8%; z-index: 2; }
#locationMap15 { left: 3%;  top: 91.0%; z-index: 2; }
#locationMap16 { left: 73%; top: 83.9%; z-index: 2; }
#locationMap17 { left: 34.2%; top: 15.2%; z-index: 2; }
#locationMap18 { left: 58%; top: 43.5%; z-index: 2; }
#locationMap19 { left: 5.8%; top: 69.2%; z-index: 2; }
#locationMap20 { left: 95.4%; top: 17.3%; z-index: 2; }
#locationMap21 { left: 28.8%; top: 66.2%; z-index: 2; }
#locationMap22 { left: 5%;  top: 3.2%; z-index: 2; }

#connectorStop { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#connectorStop img { width: 100%; }
#hideConnectorLines { cursor: pointer; position: absolute; top: 89.6%; left: 1.2%; z-index: 2; width: 37.5px; }
#hideConnectorLinesImg { width: 100%; }
#entranceSummary { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#entranceSummary img { width: 100%; }
#summaryModal { width: 442px; left: 0; }
#summaryModalMain { width: 400px; height: 600px; left: 24px; top: 35px; }

#entranceModalLightWorld { width: 372px; float: left; }
#entranceModalGeneral { width: 372px; float: left; }
#entranceModalDarkWorld { width: 372px; float: left; }

#entranceMap0 { left: 56%; top: 72%; z-index: 2; }
#entranceMap1 { left: 49%; top: 67%; z-index: 2; }
#entranceMap2 { left: 48%; top: 96%; z-index: 2; }
#entranceMap3 { left: 28%; top: 84%; z-index: 2; }
#entranceMap4 { left: 81.4%; top: 35%; z-index: 2; }
#entranceMap5 { left: 91.4%; top: 17%; z-index: 2; }
#entranceMap6 { left: 62%; top: 80%; z-index: 2; }
#entranceMap7 { left: 51.4%; top: 46%; z-index: 2; }
#entranceMap8 { left: 46.4%; top: 41%; z-index: 2; }
#entranceMap9 { left: 56.4%; top: 41%; z-index: 2; }
#entranceMap10 { left: 51.4%; top: 42%; z-index: 2; }
#entranceMap11 { left: 56.4%; top: 45%; z-index: 2; }
#entranceMap12 { left: 61%; top: 42.5%; z-index: 2; }
#entranceMap13 { left: 47.4%; top: 28.5%; z-index: 2; }
#entranceMap14 { left: 40%; top: 30%; z-index: 2; }
#entranceMap15 { left: 53.4%; top: 30%; z-index: 2; }
#entranceMap16 { left: 58.6%; top: 28.4%; z-index: 2; }
#entranceMap17 { left: 62%; top: 30%; z-index: 2; }
#entranceMap18 { left: 68%; top: 29%; z-index: 2; }
#entranceMap19 { left: 66%; top: 32%; z-index: 2; }
#entranceMap20 { left: 20.2%; top: 4%; z-index: 2; }
#entranceMap21 { left: 20.6%; top: 13.2%; z-index: 2; }
#entranceMap22 { left: 20%; top: 16.8%; z-index: 2; }
#entranceMap23 { left: 35.6%; top: 7.6%; z-index: 2; }
#entranceMap24 { left: 34%; top: 4.5%; z-index: 2; }
#entranceMap25 { left: 31.4%; top: 9%; z-index: 2; }
#entranceMap26 { left: 36%; top: 19.7%; z-index: 2; }
#entranceMap27 { left: 20.6%; top: 33%; z-index: 2; }
#entranceMap28 { left: 4%; top: 43%; z-index: 2; }
#entranceMap29 { left: 7.6%; top: 44%; z-index: 2; }
#entranceMap30 { left: 12.8%; top: 43%; z-index: 2; }
#entranceMap31 { left: 16.4%; top: 43%; z-index: 2; }
#entranceMap32 { left: 20%; top: 43%; z-index: 2; }
#entranceMap33 { left: 6.6%; top: 48%; z-index: 2; }
#entranceMap34 { left: 22%; top: 49%; z-index: 2; }
#entranceMap35 { left: 11.2%; top: 55%; z-index: 2; }
#entranceMap36 { left: 16.8%; top: 54.5%; z-index: 2; }
#entranceMap37 { left: 21.8%; top: 55%; z-index: 2; }
#entranceMap38 { left: 4.6%; top: 61%; z-index: 2; }
#entranceMap39 { left: 12.6%; top: 59%; z-index: 2; }
#entranceMap40 { left: 17.4%; top: 58%; z-index: 2; }
#entranceMap41 { left: 17.4%; top: 61.5%; z-index: 2; }
#entranceMap42 { left: 31.2%; top: 54%; z-index: 2; }
#entranceMap43 { left: 33.2%; top: 57%; z-index: 2; }
#entranceMap44 { left: 36%; top: 55%; z-index: 2; }
#entranceMap45 { left: 16.8%; top: 67%; z-index: 2; }
#entranceMap46 { left: 12%; top: 72%; z-index: 2; }
#entranceMap47 { left: 16%; top: 72%; z-index: 2; }
#entranceMap48 { left: 22.8%; top: 70.3%; z-index: 2; }
#entranceMap49 { left: 96.6%; top: 40%; z-index: 2; }
#entranceMap50 { left: 82.8%; top: 46%; z-index: 2; }
#entranceMap51 { left: 84%; top: 65.4%; z-index: 2; }
#entranceMap52 { left: 96.6%; top: 71%; z-index: 2; }
#entranceMap53 { left: 8.8%; top: 82%; z-index: 2; }
#entranceMap54 { left: 5%; top: 81%; z-index: 2; }
#entranceMap55 { left: 12.6%; top: 81%; z-index: 2; }
#entranceMap56 { left: 8.8%; top: 78%; z-index: 2; }
#entranceMap57 { left: 19%; top: 79%; z-index: 2; }
#entranceMap58 { left: 21.6%; top: 83%; z-index: 2; }
#entranceMap59 { left: 29.4%; top: 90%; z-index: 2; }
#entranceMap60 { left: 32.6%; top: 96%; z-index: 2; }
#entranceMap61 { left: 74.4%; top: 78%; z-index: 2; }
#entranceMap62 { left: 66.4%; top: 81%; z-index: 2; }
#entranceMap63 { left: 66.8%; top: 95%; z-index: 2; }
#entranceMap64 { left: 80.8%; top: 86%; z-index: 2; }
#entranceMap65 { left: 90%; top: 78%; z-index: 2; }
#entranceMap66 { left: 94%; top: 78%; z-index: 2; }
#entranceMap67 { left: 92%; top: 81%; z-index: 2; }
#entranceMap68 { left: 57.4%; top: 5%; z-index: 2; }
#entranceMap69 { left: 49.2%; top: 11.5%; z-index: 2; }
#entranceMap70 { left: 47%; top: 15%; z-index: 2; }
#entranceMap71 { left: 50.6%; top: 16%; z-index: 2; }
#entranceMap72 { left: 41.6%; top: 20%; z-index: 2; }
#entranceMap73 { left: 40.8%; top: 14%; z-index: 2; }
#entranceMap74 { left: 37.4%; top: 16%; z-index: 2; }
#entranceMap75 { left: 46.6%; top: 25%; z-index: 2; }
#entranceMap76 { left: 55%; top: 17.4%; z-index: 2; }
#entranceMap77 { left: 86.6%; top: 6.4%; z-index: 2; }
#entranceMap78 { left: 87.6%; top: 23%; z-index: 2; }
#entranceMap79 { left: 87.6%; top: 16%; z-index: 2; }
#entranceMap80 { left: 81%; top: 10%; z-index: 2; }
#entranceMap81 { left: 78%; top: 14%; z-index: 2; }
#entranceMap82 { left: 84%; top: 16%; z-index: 2; }
#entranceMap83 { left: 83.2%; top: 12.4%; z-index: 2; }
#entranceMap84 { left: 81.2%; top: 14.9%; z-index: 2; }
#entranceMap85 { left: 85.8%; top: 10%; z-index: 2; }
#entranceMap86 { left: 56%; top: 72%; z-index: 2; }
#entranceMap87 { left: 49%; top: 67%; z-index: 2; }
#entranceMap88 { left: 62%; top: 80%; z-index: 2; }
#entranceMap89 { left: 48.4%; top: 96%; z-index: 2; }
#entranceMap90 { left: 47.4%; top: 28%; z-index: 2; }
#entranceMap91 { left: 34.8%; top: 46.6%; z-index: 2; }
#entranceMap92 { left: 81.4%; top: 35%; z-index: 2; }
#entranceMap93 { left: 51.4%; top: 42%; z-index: 2; }
#entranceMap94 { left: 48%; top: 50%; z-index: 2; }
#entranceMap95 { left: 44%; top: 50%; z-index: 2; }
#entranceMap96 { left: 5.4%; top: 6.5%; z-index: 2; }
#entranceMap97 { left: 7.4%; top: 14%; z-index: 2; }
#entranceMap98 { left: 13.4%; top: 10%; z-index: 2; }
#entranceMap99 { left: 15.6%; top: 16%; z-index: 2; }
#entranceMap100 { left: 17%; top: 19%; z-index: 2; }
#entranceMap101 { left: 21.4%; top: 13%; z-index: 2; }
#entranceMap102 { left: 19.4%; top: 16%; z-index: 2; }
#entranceMap103 { left: 21.6%; top: 18%; z-index: 2; }
#entranceMap104 { left: 35%; top: 6.7%; z-index: 2; }
#entranceMap105 { left: 37%; top: 19%; z-index: 2; }
#entranceMap106 { left: 20.2%; top: 33%; z-index: 2; }
#entranceMap107 { left: 6%; top: 47%; z-index: 2; }
#entranceMap108 { left: 14%; top: 49%; z-index: 2; }
#entranceMap109 { left: 22%; top: 49%; z-index: 2; }
#entranceMap110 { left: 22%; top: 54%; z-index: 2; }
#entranceMap111 { left: 12.6%; top: 59%; z-index: 2; }
#entranceMap112 { left: 33%; top: 62%; z-index: 2; }
#entranceMap113 { left: 23%; top: 71%; z-index: 2; }
#entranceMap114 { left: 97.2%; top: 41%; z-index: 2; }
#entranceMap115 { left: 86.6%; top: 52%; z-index: 2; }
#entranceMap116 { left: 84%; top: 65.7%; z-index: 2; }
#entranceMap117 { left: 97.6%; top: 71%; z-index: 2; }
#entranceMap118 { left: 81%; top: 87%; z-index: 2; }
#entranceMap119 { left: 66.6%; top: 81%; z-index: 2; }
#entranceMap120 { left: 90%; top: 78%; z-index: 2; }
#entranceMap121 { left: 94%; top: 78%; z-index: 2; }
#entranceMap122 { left: 92%; top: 81%; z-index: 2; }
#entranceMap123 { left: 8.8%; top: 84%; z-index: 2; }
#entranceMap124 { left: 5.4%; top: 81%; z-index: 2; }
#entranceMap125 { left: 12.6%; top: 81%; z-index: 2; }
#entranceMap126 { left: 21.2%; top: 83%; z-index: 2; }
#entranceMap127 { left: 57.6%; top: 5%; z-index: 2; }
#entranceMap128 { left: 58.8%; top: 16%; z-index: 2; }
#entranceMap129 { left: 39%; top: 16%; z-index: 2; }
#entranceMap130 { left: 41.6%; top: 20%; z-index: 2; }
#entranceMap131 { left: 81.6%; top: 4%; z-index: 2; }
#entranceMap132 { left: 84%; top: 7.3%; z-index: 2; }
#entranceMap133 { left: 87.6%; top: 7.2%; z-index: 2; }
#entranceMap134 { left: 85%; top: 16%; z-index: 2; }
#entranceMap135 { left: 89%; top: 16%; z-index: 2; }
#entranceMap136 { left: 95.4%; top: 9%; z-index: 2; }
#entranceMap137 { left: 83.4%; top: 13%; z-index: 2; }
#entranceMap138 { left: 81.2%; top: 10%; z-index: 2; }
#entranceMap139 { left: 85.8%; top: 10%; z-index: 2; }

.grabbagtr {
    border: 1px solid black;
    cursor: pointer;
    width: 140px;
    height: 24px;
    padding: 5px;
}

.entrancelocationdiv {
	width: 50px;
    height: 30px;
	background-image: url(../images/interface/entrancelocation.png);
	cursor: pointer;
}

.entranceModalGeneralInner { 
	height: 84px; 
}

.entranceModalGeneralInnerSmall { 
	height: 54px; 
}

.entranceModalGeneralInnerLarge { 
	height: 84px; 
}
