@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ptsans_regular';
    src: url('../fonts/PTSans-Regular-webfont.eot');
    src: url('../fonts/PTSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans-Regular-webfont.woff') format('woff'),
         url('../fonts/PTSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/PTSans-Regular-webfont.svg#ptsans_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triforce_regular';
    src: url('../fonts/Triforce-Regular-webfont.eot');
    src: url('../fonts/Triforce-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Triforce-Regular-webfont.woff') format('woff'),
         url('../fonts/Triforce-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Triforce-Regular-webfont.svg#triforce_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'teko_light';
    src: url('../fonts/Teko-Light-webfont.eot');
    src: url('../fonts/Teko-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Teko-Light-webfont.woff') format('woff'),
         url('../fonts/Teko-Light-webfont.ttf') format('truetype'),
         url('../fonts/Teko-Light-webfont.svg#teko_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

