
#app { width: 448px; height: 988px; }
#app.sphereless { height: 692px; }

#map_light {
  width: 221px;
  height: 221px;
  margin-left: 2px;
  background-image: url(../images/overlay/map_light.png);
  background-size: 100% 100%;
}

#map_dark {
  width: 221px;
  height: 221px;
  background-image: url(../images/overlay/map_dark.png);
  background-size: 100% 100%;
}


#caption {
  bottom: -20px;
}

#autotrackingstatus {
  bottom: -20px;
}

.location {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

#map .boss {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  background-size: 100% 100%;
}

#bossMap0, #dungeon0 { left: 92%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 7.6%; top: 78.4%; }
#bossMap2, #dungeon2 { left: 62%; top: 7.2%; }
#bossMap3, #dungeon3 { left: 92.8%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 47%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 8%; top: 7.2%; }
#bossMap6, #dungeon6 { left: 12.8%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 79.6%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 13.6%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 92.8%; top: 7.2%; }
#bossMap10, #dungeon10 { left: 58%; top: 7.2%; }
#bossMap11, #dungeon11 { left: 50%; top: 37.5%; }
#bossMapAgahnim, #castle, #bossMap12, #dungeon12 { left: 50%; top: 52.6%; }

#locationMap0 { left: 61.6%; top: 29.6%; }
#locationMap1 { left: 46.8%; top: 93.4%; }
#locationMap2 { left: 54.8%; top: 67.9%; }
#locationMap3 { left: 76.8%; top: 9.3%; }
#locationMap4 { left: 85.2%; top: 9.3%; }
#locationMap5 { left: 16.2%; top: 57.8%; }
#locationMap6 { left: 8.8%; top: 54.2%; }
#locationMap7 { left: 10.8%; top: 57.8%; }
#locationMap8 { left: 23%; top: 47.9%; }
#locationMap9 { left: 20%; top: 83.6%; }
#locationMap10 { left: 3.4%; top: 79.5%; }
#locationMap11 { left: 83.6%; top: 15.7%; }
#locationMap12 { left: 81.4%; top: 41.4%; }
#locationMap13 { left: 57.2%; top: 17.2%; }
#locationMap14 { left: 3.4%; top: 41.0%; }
#locationMap15 { left: 12.8%; top: 41.0%; }
#locationMap16 { left: 60%; top: 77.1%; }
#locationMap17 { left: 82.8%; top: 17.1%; }
#locationMap18 { left: 39%; top: 29.3%; }
#locationMap19 { left: 65.2%; top: 93.4%; }
#locationMap20 { left: 89.4%; top: 76.9%; }
#locationMap21 { left: 83.2%; top: 9.6%; }
#locationMap22 { left: 83.2%; top: 3.4%; }
#locationMap23 { left: 4.2%; top: 46.4%; }
#locationMap24 { left: 9%; top: 47.3%; }
#locationMap25 { left: 81.4%; top: 48.0%; }
#locationMap26 { left: 31%; top: 68.6%; }
#locationMap27 { left: 16.2%; top: 51.1%; }
#locationMap28 { left: 30.4%; top: 52.2%; }
#locationMap29 { left: 70.8%; top: 69.7%; }
#locationMap30 { left: 42%; top: 3.4%; }
#locationMap31 { left: 22%; top: 92.2%; }
#locationMap32 { left: 92%; top: 17.2%; }
#locationMap33 { left: 96%; top: 10.6%; }
#locationMap34 { left: 41.6%; top: 20.4%; }
#locationMap35 { left: 81.6%; top: 32.5%; }
#locationMap36 { left: 18.8%; top: 13.0%; }
#locationMap37 { left: 30.2%; top: 7.6%; }
#locationMap38 { left: 48.6%; top: 14.8%; }
#locationMap39 { left: 28.2%; top: 84.1%; }
#locationMap40 { left: 56.2%; top: 27.0%; }
#locationMap41 { left: 18.6%; top: 77.3%; }
#locationMap42 { left: 31.6%; top: 59.1%; }
#locationMap43 { left: 15.4%; top: 65.9%; }
#locationMap44 { left: 12.4%; top: 8.6%; }
#locationMap45 { left: 50.8%; top: 8.5%; }
#locationMap46 { left: 80.4%; top: 3.4%; }
#locationMap47 { left: 3.6%; top: 67.0%; }
#locationMap48 { left: 3.6%; top: 91.0%; }
#locationMap49 { left: 72.2%; top: 82.9%; }
#locationMap50 { left: 34.2%; top: 15.2%; }
#locationMap51 { left: 58%; top: 43.5%; }
#locationMap52 { left: 5.8%; top: 69.2%; }
#locationMap53 { left: 95.4%; top: 17.3%; }
#locationMap54 { left: 28.8%; top: 66.2%; }
#locationMap55 { left: 53.6%; top: 32.4%; }
#locationMap56 { left: 59.6%; top: 41.8%; }
#locationMap57 { left: 50%; top: 44.1%; }
#locationMap58 { left: 46%; top: 28.0%; }
#locationMap59 { left: 32%; top: 58.0%; }
#locationMap60 { left: 30.4%; top: 51.8%; }
#locationMap61 { left: 47%; top: 48.5%; }
#locationMap62 { left: 5%; top: 3.4%; }
#locationMap63 { left: 51.2%; top: 38.2%; }
#locationMap64 { left: 89.8%; top: 15.2%; }
#locationMap65 { left: 42%; top: 52.6%; }
#locationMap66 { left: 58%; top: 52.6%; }
#locationMap67 { left: 74%; top: 76.0%; }
#locationMap68 { left: 10%; top: 60.0%; }
#locationMap69 { left: 77%; top: 17.1%; }
#locationMap70 { left: 67%; top: 78.5%; }
#locationMap71 { left: 23%; top: 53.4%; }
#locationMap72 { left: 86.6%; top: 21.2%; }
#locationMap73 { left: 81.6%; top: 32.5%; }
#locationMap74 { left: 33.2%; top: 6.3%; }
#locationMap75 { left: 33%; top: 44.2%; }
#locationMap76 { left: 80%; top: 27.0%; }
#locationMap77 { left: 79.6%; top: 84.5%; }
#locationMap78 { left: 54.8%; top: 67.9%; }