
#app { width: 448px; height: 988px; }
#app.sphereless { height: 692px; }

#map {
  width: 442px;
  height: 221px;
  margin-left: 3px;
}

#caption {
  bottom: -20px;
}

.location {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

#map .boss {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  background-size: 100% 100%;
}

#bossMap0, #dungeon0 { left: 46.0%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 3.8%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 31.0%; top: 7.2%; }
#bossMap3, #dungeon3 { left: 96.4%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 73.5%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 54.0%; top: 7.2%; }
#bossMap6, #dungeon6 { left: 56.4%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 89.8%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 55.8%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 96.4%; top: 7.2%; }
#bossMap10, #dungeon10 { left: 79.0%; top: 7.2%; }
#bossMap11, #dungeon11 { left: 25.0%; top: 37.5%; }
#bossMapAgahnim, #castle, #bossMap12, #dungeon12 { left: 25.0%; top: 52.6%; }

#locationMap0 { left: 30.8%; top: 29.6%; }
#locationMap1 { left: 23.4%; top: 93.4%; }
#locationMap2 { left: 27.4%; top: 67.9%; }
#locationMap3 { left: 38.4%; top: 9.3%; }
#locationMap4 { left: 42.6%; top: 9.3%; }
#locationMap5 { left: 8.1%;  top: 57.8%; }
#locationMap6 { left: 4.4%;  top: 54.2%; }
#locationMap7 { left: 55.4%; top: 57.8%; }
#locationMap8 { left: 61.5%; top: 47.9%; }
#locationMap9 { left: 10.0%; top: 83.6%; }
#locationMap10 { left: 51.7%; top: 79.5%; }
#locationMap11 { left: 91.8%; top: 15.7%; }
#locationMap12 { left: 40.7%; top: 41.4%; }
#locationMap13 { left: 78.6%; top: 17.2%; }
#locationMap14 { left: 1.7%;  top: 41.0%; }
#locationMap15 { left: 6.4%;  top: 41.0%; }
#locationMap16 { left: 80.0%; top: 77.1%; }
#locationMap17 { left: 41.4%; top: 17.1%; }
#locationMap18 { left: 19.5%; top: 29.3%; }
#locationMap19 { left: 32.6%; top: 93.4%; }
#locationMap20 { left: 44.7%; top: 76.9%; }
#locationMap21 { left: 91.6%; top: 9.6%; }
#locationMap22 { left: 91.6%; top: 3.4%; }
#locationMap23 { left: 52.1%; top: 46.4%; }
#locationMap24 { left: 4.5%;  top: 47.3%; }
#locationMap25 { left: 40.7%; top: 48.0%; }
#locationMap26 { left: 65.5%; top: 68.6%; }
#locationMap27 { left: 8.1%;  top: 51.1%; }
#locationMap28 { left: 65.2%; top: 52.2%; }
#locationMap29 { left: 35.4%; top: 69.7%; }
#locationMap30 { left: 21.0%; top: 3.4%; }
#locationMap31 { left: 11.0%; top: 92.2%; }
#locationMap32 { left: 96.0%; top: 17.2%; }
#locationMap33 { left: 48.0%; top: 10.6%; }
#locationMap34 { left: 20.8%; top: 20.4%; }
#locationMap35 { left: 40.8%; top: 32.5%; }
#locationMap36 { left: 9.4%;  top: 13.0%; }
#locationMap37 { left: 15.1%; top: 7.6%; }
#locationMap38 { left: 24.3%; top: 14.8%; }
#locationMap39 { left: 14.1%; top: 84.1%; }
#locationMap40 { left: 28.1%; top: 27.0%; }
#locationMap41 { left: 9.3%;  top: 77.3%; }
#locationMap42 { left: 65.8%; top: 59.1%; }
#locationMap43 { left: 7.7%;  top: 65.9%; }
#locationMap44 { left: 6.2%;  top: 8.6%; }
#locationMap45 { left: 25.4%; top: 8.5%; }
#locationMap46 { left: 40.2%; top: 3.4%; }
#locationMap47 { left: 1.8%;  top: 67.0%; }
#locationMap48 { left: 1.8%;  top: 91.0%; }
#locationMap49 { left: 36.1%; top: 82.9%; }
#locationMap50 { left: 67.1%; top: 15.2%; }
#locationMap51 { left: 79.0%; top: 43.5%; }
#locationMap52 { left: 52.9%; top: 69.2%; }
#locationMap53 { left: 47.7%; top: 17.3%; }
#locationMap54 { left: 14.4%; top: 66.2%; }
#locationMap55 { left: 26.8%; top: 32.4%; }
#locationMap56 { left: 29.8%; top: 41.8%; }
#locationMap57 { left: 25.0%; top: 44.1%; }
#locationMap58 { left: 23.0%; top: 28.0%; }
#locationMap59 { left: 16.0%; top: 58.0%; }
#locationMap60 { left: 15.2%; top: 51.8%; }
#locationMap61 { left: 73.5%; top: 48.5%; }
#locationMap62 { left: 2.5%;  top: 3.4%; }
#locationMap63 { left: 25.6%; top: 38.2%; }
#locationMap64 { left: 44.9%; top: 15.2%; }
#locationMap65 { left: 21.0%; top: 52.6%; }
#locationMap66 { left: 29.0%; top: 52.6%; }
