
body {
  margin: 0px;
  background-color: black;
  font-family: roboto_condensedregular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden;
  style: opacity: 0.85;
}

* { box-sizing: border-box; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.cell { position: relative; float: left; }
.normalopen {  }

#app { width: 1340px; height: 744px; overflow: hidden; }
#app.mapless { width: 448px; }
#app.sphereless { height: 448px; }

#tracker .item,
#tracker .boss,
#tracker [id^="item"] { width: 64px; height: 64px; }
#tracker [id^="chest"] { width: 32px; height: 32px; font-size: 15px; text-align: center; font-family: roboto_condensedregular, "Arial Black", Gadget, sans-serif; font-weight: bold; padding-top: 6px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
#tracker [id^="bigkey"] { width: 32px; height: 32px; }
#tracker [id^="smallkey"] { width: 64px; height: 32px; color: #FFF; font-size: 20px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 0px; padding-left: 32px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker [id^="smallkeyhalf"] { width: 32px; height: 32px; color: #FFF; font-size: 20px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 6px; padding-left: 6px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker [id^="smallhalfheader"] { width: 32px; height: 16px; color: #FFF; font-size: 9px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 2px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }

#tracker .tunic { width: 128px; height: 128px; }
#tracker .sword { position: absolute; top: 0; right: 0; height: 48px; width: 48px; }
#tracker .crystalgoal { position: absolute; top: 0; left: 0; height: 24px; width: 24px; }
#tracker .ganongoal { position: absolute; top: 24; left: 0; height: 24px; width: 24px; }
#tracker .shield { position: absolute; bottom: 0; left: 0; height: 48px; width: 48px; }
#tracker .moonpearl {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#tracker .item,
#tracker .boss { opacity: .25; }
#tracker .item[class*="active"],
#tracker .boss.defeated { opacity: 1; }
#tracker .bigkey { opacity: .25; }
#tracker .collected { opacity: 1; }
#tracker .tunic { height: 96px; width: 96px; background-size:100%; }
#tracker .moonpearl { height: 40px; width: 40px; background-size:100%; }
#tracker .sphere { height: 37px; width: 37px; background-size:100%; }

[class*="prize-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
}
[class*="enemizer-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
#tracker [class*="medallion-"] {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
}

#map {
  width: 884px;
  height: 448px;
  margin-left: 8px;
  background-image: url(../images/overlay/map.png);
  background-size: 100% 100%;
}

.location {
  width: 24;
  height: 24;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.lowerchest {
  width: 64px;
  float: left;
}

#map .boss {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  background-size: 100% 100%;
}

.location,
.castle,
.dungeon { background-image: url(../images/overlay/poi.png); }
.chest.highlight,
.castle.highlight,
.location.highlight,
.dungeon.highlight { background-image: url(../images/overlay/highlighted.png); }
.chest.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; }
.chest-0.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; }
.unavailable { background-color: red; }
.available { background-color: lime; }
.possible { background-color: yellow; }
.darkavailable { background-color: blue; }
.darkpossible { background-color: purple; } 
.sequencebreak { background-color: red; }
.opened { background-color: #7f7f7f; }

#caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100% 100%;
  vertical-align: text-bottom;
}

.spheresword.active-1 { background-image: url(../images/items/sword1.png); }
.spheresword.active-2 { background-image: url(../images/items/sword2.png); }
.spheresword.active-3 { background-image: url(../images/items/sword3.png); }
.spheresword.active-4 { background-image: url(../images/items/sword4.png); }
.sphereshield.active-1 { background-image: url(../images/items/shield1.png); }
.sphereshield.active-2 { background-image: url(../images/items/shield2.png); }
.sphereshield.active-3 { background-image: url(../images/items/shield3.png); }
.spheremoonpearl { background-image: url(../images/items/moonpearl.png); }

.tunic.active-1 { background-image: url(../images/items/tunic1.png); background-size:100%; float:left; }
.tunic.active-2 { background-image: url(../images/items/tunic2.png); background-size:100%; float:left; }
.tunic.active-3 { background-image: url(../images/items/tunic3.png); background-size:100%; float:left; }
.tunic.active-1.bunny { background-image: url(../images/items/tunicbunny1.png); }
.tunic.active-2.bunny { background-image: url(../images/items/tunicbunny2.png); }
.tunic.active-3.bunny { background-image: url(../images/items/tunicbunny3.png); }
.sword.active-0 { background-image: url(../images/items/sword1.png); opacity: .25; background-size:100%; float:left; }
.sword.active-1 { background-image: url(../images/items/sword1.png); background-size:100%; }
.sword.active-2 { background-image: url(../images/items/sword2.png); background-size:100%; }
.sword.active-3 { background-image: url(../images/items/sword3.png); background-size:100%; }
.sword.active-4 { background-image: url(../images/items/sword4.png); background-size:100%; }
.shield.active-0 { background-image: url(../images/items/shield1.png); opacity: .25; background-size:100%; float:left; }
.shield.active-1 { background-image: url(../images/items/shield1.png); background-size:100%; float:left; }
.shield.active-2 { background-image: url(../images/items/shield2.png); background-size:100%; float:left; }
.shield.active-3 { background-image: url(../images/items/shield3.png); background-size:100%; float:left; }
.moonpearl { background-image: url(../images/items/moonpearl.png); background-size:100%; }
.crystalgoal.crystals0 { background-image: url(../images/dungeons/crystal0.png); background-size:100%; }
.crystalgoal.crystals1 { background-image: url(../images/dungeons/crystal1.png); background-size:100%; }
.crystalgoal.crystals2 { background-image: url(../images/dungeons/crystal2.png); background-size:100%; }
.crystalgoal.crystals3 { background-image: url(../images/dungeons/crystal3.png); background-size:100%; }
.crystalgoal.crystals4 { background-image: url(../images/dungeons/crystal4.png); background-size:100%; }
.crystalgoal.crystals5 { background-image: url(../images/dungeons/crystal5.png); background-size:100%; }
.crystalgoal.crystals6 { background-image: url(../images/dungeons/crystal6.png); background-size:100%; }
.crystalgoal.crystals7 { background-image: url(../images/dungeons/crystal7.png); background-size:100%; }
.crystalgoal.crystals { background-image: url(../images/dungeons/crystal.png); background-size:100%; }
.crystalgoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.crystalgoal.other { visibility: collapse; }
.ganongoal.ganon0 { background-image: url(../images/dungeons/ganon0.png); background-size:100%; }
.ganongoal.ganon1 { background-image: url(../images/dungeons/ganon1.png); background-size:100%; }
.ganongoal.ganon2 { background-image: url(../images/dungeons/ganon2.png); background-size:100%; }
.ganongoal.ganon3 { background-image: url(../images/dungeons/ganon3.png); background-size:100%; }
.ganongoal.ganon4 { background-image: url(../images/dungeons/ganon4.png); background-size:100%; }
.ganongoal.ganon5 { background-image: url(../images/dungeons/ganon5.png); background-size:100%; }
.ganongoal.ganon6 { background-image: url(../images/dungeons/ganon6.png); background-size:100%; }
.ganongoal.ganon7 { background-image: url(../images/dungeons/ganon7.png); background-size:100%; }
.ganongoal.ganon { background-image: url(../images/dungeons/ganon.png); background-size:100%; }
.ganongoal.alldungeons { background-image: url(../images/dungeons/alldungeons.png); background-size:100%; }
.ganongoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.ganongoal.other { visibility: collapse; }
.crystalgoalselect { background-color: #333; width: 244px; height: 24px; z-index: 99; position: absolute; top: 0; left: 0; }
.ganongoalselect { background-color: #333; width: 244px; height: 24px; z-index: 99; position: absolute; top: 24; left: 0; }
.goalselect { height: 24px; width: 24px; } 

.bow { background-image: url(../images/items/bow0.png); }
.bow.active-1 { background-image: url(../images/items/bow1.png); }
.bow.active-2 { background-image: url(../images/items/bow2.png); }
.bow.active-3 { background-image: url(../images/items/bow3.png); }
.boomerang { background-image: url(../images/items/boomerang1.png); }
.boomerang.active-2 { background-image: url(../images/items/boomerang2.png); }
.boomerang.active-3 { background-image: url(../images/items/boomerang3.png); }
.hookshot { background-image: url(../images/items/hookshot.png); }
.mushroom { background-image: url(../images/items/mushroom.png); }
.powder { background-image: url(../images/items/powder.png); }
.firerod { background-image: url(../images/items/firerod.png); }
.icerod { background-image: url(../images/items/icerod.png); }
.bombos { background-image: url(../images/items/bombos.png); }
.ether { background-image: url(../images/items/ether.png); }
.quake { background-image: url(../images/items/quake.png); }
.lantern { background-image: url(../images/items/lantern.png); }
.hammer { background-image: url(../images/items/hammer.png); }
.shovel { background-image: url(../images/items/shovel.png); }
.net { background-image: url(../images/items/net.png); }
.book { background-image: url(../images/items/book.png); }
.bottle { background-image: url(../images/items/bottle0.png); }
.bottle.active-1 { background-image: url(../images/items/bottle1.png); }
.bottle.active-2 { background-image: url(../images/items/bottle2.png); }
.bottle.active-3 { background-image: url(../images/items/bottle3.png); }
.bottle.active-4 { background-image: url(../images/items/bottle4.png); }
.somaria { background-image: url(../images/items/somaria.png); }
.byrna { background-image: url(../images/items/byrna.png); }
.cape { background-image: url(../images/items/cape.png); }
.mirror { background-image: url(../images/items/mirror.png); }
.boots { background-image: url(../images/items/boots.png); }
.glove { background-image: url(../images/items/glove1.png); }
.glove.active-2 { background-image: url(../images/items/glove2.png); }
.flippers { background-image: url(../images/items/flippers.png); }
.flute { background-image: url(../images/items/flute.png); }
.agahnim, #bossMapAgahnim { background-image:url(../images/dungeons/agahnim0.png); }
.agahnim.active { background-image:url(../images/dungeons/agahnim1.png); }
.boss0, #bossMap0 { background-image: url(../images/dungeons/boss0.png); }
.boss1, #bossMap1 { background-image: url(../images/dungeons/boss1.png); }
.boss2, #bossMap2 { background-image: url(../images/dungeons/boss2.png); }
.boss3, #bossMap3 { background-image: url(../images/dungeons/boss3.png); }
.boss4, #bossMap4 { background-image: url(../images/dungeons/boss4.png); }
.boss5, #bossMap5 { background-image: url(../images/dungeons/boss5.png); }
.boss6, #bossMap6 { background-image: url(../images/dungeons/boss6.png); }
.boss7, #bossMap7 { background-image: url(../images/dungeons/boss7.png); }
.boss8, #bossMap8 { background-image: url(../images/dungeons/boss8.png); }
.boss9, #bossMap9 { background-image: url(../images/dungeons/boss9.png); }
.boss10, #bossMap10 { background-image: url(../images/dungeons/boss10.png); }
.enemizer-0 { background-image: url(../images/dungeons/prize0.png); background-size: 32px; }
.enemizer-1 { background-image: url(../images/dungeons/boss0.png); background-size: 32px; }
.enemizer-2 { background-image: url(../images/dungeons/boss1.png); background-size: 32px; }
.enemizer-3 { background-image: url(../images/dungeons/boss2.png); background-size: 32px; }
.enemizer-4 { background-image: url(../images/dungeons/boss3.png); background-size: 32px; }
.enemizer-5 { background-image: url(../images/dungeons/boss4.png); background-size: 32px; }
.enemizer-6 { background-image: url(../images/dungeons/boss5.png); background-size: 32px; }
.enemizer-7 { background-image: url(../images/dungeons/boss6.png); background-size: 32px; }
.enemizer-8 { background-image: url(../images/dungeons/boss7.png); background-size: 32px; }
.enemizer-9 { background-image: url(../images/dungeons/boss8.png); background-size: 32px; }
.enemizer-10 { background-image: url(../images/dungeons/boss9.png); background-size: 32px; }
.prize-0 { background-image: url(../images/dungeons/prize0.png); }
.prize-1 { background-image: url(../images/dungeons/prize1.png); }
.prize-2 { background-image: url(../images/dungeons/prize2.png); }
.prize-3 { background-image: url(../images/dungeons/prize3.png); }
.prize-4 { background-image: url(../images/dungeons/prize4.png); }
.medallion-0 { background-image: url(../images/dungeons/medallion0.png); }
.medallion-1 { background-image: url(../images/dungeons/medallion1.png); }
.medallion-2 { background-image: url(../images/dungeons/medallion2.png); }
.medallion-3 { background-image: url(../images/dungeons/medallion3.png); }
.chest-0 { background-image: url(../images/dungeons/keychest0.png); }
.chest { background-image: url(../images/dungeons/keychest.png); }
.bigkey { background-image: url(../images/dungeons/bigkey.png); }
.smallkeyfull { background-image: url(../images/dungeons/smallkeyfull.png); }
.smallkeyhalf { background-image: url(../images/dungeons/smallkeyhalf.png); }

.bomb { background-image: url(../images/overlay/bomb.png); }
.crystal { background-image: url(../images/dungeons/prize4.png); }
.pendant-0 { background-image: url(../images/overlay/pendant0.png); }
.pendant-1 { background-image: url(../images/overlay/pendant1.png); }
.pendant-2 { background-image: url(../images/overlay/pendant2.png); }

.noitem { background-image: url(../images/dungeons/prize0.png); opacity: .25; }

#bossMap0, #dungeon0 { left: 46.8%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 3.8%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 31.0%; top: 5.5%; }
#bossMap3, #dungeon3 { left: 97.0%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 73.5%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 53.3%; top: 5.4%; }
#bossMap6, #dungeon6 { left: 56.4%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 89.8%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 55.8%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 96.9%; top: 7.0%; }
#bossMap10, #dungeon10 { left: 79.0%; top: 5.5%; }

#bossMapAgahnim, #castle { left: 25.0%; top: 52.6%; }

#locationMap0 { left: 30.8%; top: 29.6%; }
#locationMap1 { left: 23.4%; top: 93.4%; }
#locationMap2 { left: 27.4%; top: 67.9%; }
#locationMap3 { left: 39.9%; top: 9.3%; }
#locationMap4 { left: 42.6%; top: 9.3%; }
#locationMap5 { left: 8.1%;  top: 57.8%; }
#locationMap6 { left: 4.4%;  top: 54.2%; }
#locationMap7 { left: 55.4%; top: 57.8%; }
#locationMap8 { left: 60.8%; top: 47.9%; }
#locationMap9 { left: 10.0%; top: 82.6%; }
#locationMap10 { left: 51.7%; top: 79.5%; }
#locationMap11 { left: 92.8%; top: 14.7%; }
#locationMap12 { left: 40.7%; top: 41.4%; }
#locationMap13 { left: 78.6%; top: 14.9%; }
#locationMap14 { left: 1.7%;  top: 41.0%; }
#locationMap15 { left: 6.4%;  top: 41.0%; }
#locationMap16 { left: 80.0%; top: 77.1%; }
#locationMap17 { left: 41.4%; top: 17.1%; }
#locationMap18 { left: 19.5%; top: 29.3%; }
#locationMap19 { left: 32.6%; top: 93.4%; }
#locationMap20 { left: 44.7%; top: 76.9%; }
#locationMap21 { left: 91.6%; top: 8.6%; }
#locationMap22 { left: 91.6%; top: 3.4%; }
#locationMap23 { left: 52.1%; top: 46.4%; }
#locationMap24 { left: 4.5%;  top: 46.8%; }
#locationMap25 { left: 40.7%; top: 46.7%; }
#locationMap26 { left: 65.5%; top: 68.6%; }
#locationMap27 { left: 7.8%;  top: 52.1%; }
#locationMap28 { left: 65.2%; top: 52.2%; }
#locationMap29 { left: 35.4%; top: 69.7%; }
#locationMap30 { left: 21.0%; top: 3.0%; }
#locationMap31 { left: 11.0%; top: 92.2%; }
#locationMap32 { left: 96.0%; top: 17.2%; }
#locationMap33 { left: 48.0%; top: 12.1%; }
#locationMap34 { left: 20.8%; top: 20.4%; }
#locationMap35 { left: 40.8%; top: 32.5%; }
#locationMap36 { left: 9.4%;  top: 13.0%; }
#locationMap37 { left: 15.1%; top: 7.6%; }
#locationMap38 { left: 24.3%; top: 14.8%; }
#locationMap39 { left: 14.1%; top: 84.1%; }
#locationMap40 { left: 28.1%; top: 27.0%; }
#locationMap41 { left: 8.8%;  top: 77.3%; }
#locationMap42 { left: 65.8%; top: 60.1%; }
#locationMap43 { left: 7.7%;  top: 65.9%; }
#locationMap44 { left: 6.2%;  top: 8.6%; }
#locationMap45 { left: 25.4%; top: 8.5%; }
#locationMap46 { left: 40.2%; top: 3.0%; }
#locationMap47 { left: 1.8%;  top: 69.8%; }
#locationMap48 { left: 1.5%;  top: 91.0%; }
#locationMap49 { left: 36.1%; top: 82.9%; }
#locationMap50 { left: 67.1%; top: 15.2%; }
#locationMap51 { left: 79.0%; top: 43.5%; }
#locationMap52 { left: 52.9%; top: 69.2%; }
#locationMap53 { left: 47.7%; top: 17.3%; }
#locationMap54 { left: 14.4%; top: 66.2%; }
#locationMap55 { left: 26.8%; top: 32.4%; }
#locationMap56 { left: 29.8%; top: 41.8%; }
#locationMap57 { left: 25.0%; top: 44.1%; }
#locationMap58 { left: 23.0%; top: 28.0%; }
#locationMap59 { left: 16.0%; top: 58.0%; }
#locationMap60 { left: 15.2%; top: 51.8%; }
#locationMap61 { left: 73.5%; top: 48.5%; }
#locationMap62 { left: 2.5%;  top: 3.2%; }
#locationMap63 { left: 25.6%; top: 38.2%; }
#locationMap64 { left: 44.9%; top: 14.7%; }
#locationMap65 { left: 21.0%; top: 52.6%; }
#locationMap66 { left: 29.0%; top: 52.6%; }
